-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/font-awesome.min.css", rel: 'stylesheet'}


  %body
    %header
      .wrapper
        .drop-bar 
          %a{href:"#"} 
            %i.fa.fa-align-justify 
            Menu
        .logo.inline-content> 
          %a{href:"default.html"} 
            %img{src:"images/logo.png", alt:"logo"}/ 
        %nav.main-nav.inline-content>
          %ul
            %li.inline-content
              %a{href:"default.html"} Presentación
            %li.inline-content
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li.inline-content
              %a{href:"becas.html"} Becas y tasas
            %li.active.inline-content
              %a{href:"asignaturas.html"} Asignaturas
            %li.inline-content
              %a{href:"horarios.html"} Horarios
            %li.inline-content
              %a{href:"faq.html"} FAQ
            %li.inline-content
              %a{href:"contacto.html"} Contacto
        #dropdown-menu
          %ul 
            %li 
              %a{href:"default.html"} Presentación
            %li 
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li 
              %a{href:"becas.html"} Becas y tasas
            %li 
              %a{href:"asignaturas.html"} Asignaturas
            %li 
              %a{href:"horarios.html"} Horarios
            %li 
              %a{href:"faq.html"} FAQ
            %li 
              %a{href:"contacto.html"} Contacto

    .main-content
    .main-content
      .wrapper
        %h2.big-heading OBLIGATORIAS
        .text-box
          %h3 Primer curso
          %a.normal-link{href:"sxx.html"} La historia del siglo XX
          %a.normal-link{href:"fpna.html"} Formando parte de la naturaleza. ¿Por qué respetar los límites biofísicos del planeta?
        .text-box
          %h3 Segundo curso
          %a.normal-link{href:"identidad.html"} La construcción de la identidad a través de la literatura
          %a.normal-link{href:"vivencias.html"} Vivencias para cambiar el mundo. Construyendo capacidad adaptativa frente la adversidad de la crisis. 
        .text-box
          %h3 Tercer curso
          %a.normal-link{href:"imperios.html"} Imperios y Naciones
          %a.normal-link{href:"suditos.html"} De súbditos a ciudadanos. Intituciones y sujetos de la democracia. 
        %h2.big-heading OPTATIVAS
        .text-box
          %h3 Primer curso
          %a.normal-link{href:"tecma.html"} Tecnología, sociedad y cultura
          %a.normal-link{href:"aproxma.html"} Una aproximación a la ciencia política
        .text-box
          %h3 Segundo curso
          %a.normal-link{href:"paises.html"} Los países emergentes en la configuración del mundo actual
        .text-box
          %h3 Tercer curso
          %a.normal-link{href:"religiones.html"} Historia de las religiones
          %a.normal-link{href:"literatura.html"} Literatura comparada para el conocimiento del mundo actual
          %a.normal-link{href:"grecia.html"} Grecia Clásica
          %a.normal-link{href:"arte.html"} El arte y la cultura audiovisual en el mundo contemporáneo
        .text-box
          %h3.inline-block Nuevas optativas 
          .small-i.inline-block
            %i.fa.fa-asterisk
          %a.normal-link{href:"esp.html"} La historia de España del siglo XX
          %a.normal-link{href:"biologia.html"} Biología y Genética
          %a.normal-link{href:"astrofisica.html"} Astrofísica
          %a.normal-link{href:"economia.html"} Economía para no economistas

        .small-note
          %i.fa.fa-asterisk.inline-block>
          %p.inline-block> Optativas no ligadas a ningún curso. Tienen preferencia sobre ellas los los estudiantes que han finalizado el Título Propio.

        .btn-download.centered.mt
          %button.btn
            %a{href:"#"} 
              %i.fa.fa-download
              Descarga el listado de asignaturas

    %footer
      .wrapper
        .logo-uam.inline-content>
          %a{href:"https://www.uam.es"}  
            %img{src:"images/logo-uam2.png", :alt => "uam"}/ 
        .complementary-info.inline-content>
          %h4.one-whole Título Propio Experto en el Mundo Actual: Claves y Desafios
          %ul 
            %li
              %i.fa.fa-map-marker
              %p Centro de Estudios de Postgrado, planta 2 aula 1
            %li
              %i.fa.fa-envelope
              %a{href:"mailto:mundoactual@uam.es"} mundoactual@uam.es
            %li
              %i.fa.fa-phone
              %p 91 4976526

    //Scripts
    %script{src:"js/jquery-1.10.2.min.js"}  
    %script{src:"js/scripts.js"} 