-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/font-awesome.min.css", rel: 'stylesheet'}


  %body
    %header
      .wrapper
        .logo.inline-content> 
          %a{href:"default.html"} 
            %img{src:"images/logo.png", alt:"logo"}/ 
        %nav.main-nav.inline-content>
          %ul
            %li.inline-content
              %a{href:"default.html"} Presentación
            %li.inline-content
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li.inline-content
              %a{href:"becas.html"} Becas y tasas
            %li.active.inline-content
              %a{href:"asignaturas.html"} Asignaturas
            %li.inline-content
              %a{href:"horarios.html"} Horarios
            %li.inline-content
              %a{href:"faq.html"} FAQ
            %li.inline-content
              %a{href:"contacto.html"} Contacto
    .main-content
      .wrapper
        %h2.big-heading OBLIGATORIAS
        .text-box
          %h3 Primer curso
          %a{href:"sxx.html"} La historia del siglo XX
          %a{href:"fpna.html"} Formando parte de la naturaleza. ¿Por qué respetar los límites biofísicos del planeta?
        .text-box
          %h3 Segundo curso
          %a{href:"identidad.html"} La construcción de la identidad a través de la literatura
          %a{href:"vivencias.html"} Vivencias para cambiar el mundo. Construyendo capacidad adaptativa frente la adversidad de la crisis. 
        .text-box
          %h3 Tercer curso
          %a{href:"imperios.html"} Imperios y Naciones
          %a{href:"suditos.html"} De súbditos a ciudadanos. Intituciones y sujetos de la democracia. 
        %h2.big-heading OPTATIVAS
        .text-box
          %h3 Primer curso
          %a{href:"tecma.html"} Tecnología, sociedad y cultura
          %a{href:"aproxma.html"} Una aproximación a la ciencia política
        .text-box
          %h3 Segundo curso
          %a{href:"paises.html"} Los países emergentes en la configuración del mundo actual
        .text-box
          %h3 Tercer curso
          %a{href:"religiones.html"} Historia de las religiones
          %a{href:"literatura.html"} Literatura comparada para el conocimiento del mundo actual
          %a{href:"grecia.html"} Grecia Clásica
          %a{href:"arte.html"} El arte y la cultura audiovisual en el mundo contemporáneo
        .text-box
          %h3.inline-content Nuevas optativas 
          .small-i
            %i.fa.fa-asterisk
          %a{href:"esp.html"} La historia de España del siglo XX
          %a{href:"biologia.html"} Biología y Genética
          %a{href:"astrofisica.html"} Astrofísica
          %a{href:"economia.html"} Economía para no economistas

        .small-note
          %i.fa.fa-asterisk.inline-content>
          %p.inline-content> Optativas no ligadas a ningún curso. Tienen preferencia sobre ellas los los estudiantes que han finalizado el Título Propio.


    %footer
      .wrapper
        .logo-uam.inline-content>
          %a{href:"https://www.uam.es"}  
            %img{src:"images/logo-uam2.gif", :alt => "uam"}/ 
        %ul.complementary-info.inline-content>
          %li.one-whole
            %h4 Título Propio Experto en el Mundo Actual: Claves y Desafios
          %li
            %i.fa.fa-map-marker.inline-content 
            %p.inline-content Centro de Estudios de Postgrado, planta 2 aula 1
          %li
            %i.fa.fa-envelope
            %a{href:"mailto:mundoactual@uam.es"} mundoactual@uam.es
          %li.inline-content
            %i.fa.fa-phone.inline-content
            %p.inline-content 91 4976526