-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/font-awesome.min.css", rel: 'stylesheet'}


  %body
    %header
      .wrapper
        .logo.inline-content> 
          %a{href:"default.html"} 
            %img{src:"images/logo.png", alt:"logo"}/ 
        %nav.main-nav.inline-content>
          %ul
            %li.inline-content
              %a{href:"default.html"} Presentación
            %li.active.inline-content
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li.inline-content
              %a{href:"becas.html"} Becas y tasas
            %li.inline-content
              %a{href:"asignaturas.html"} Asignaturas
            %li.inline-content
              %a{href:"horarios.html"} Horarios
            %li.inline-content
              %a{href:"faq.html"} FAQ
            %li.inline-content
              %a{href:"contacto.html"} Contacto
    .main-content 
      .wrapper 
        %section 
          %h2.big-heading Tasas
          %p El Título de Experto en el Mundo Actual hace un esfuerzo para ofertar precios asequibles más bajos que los de las enseñanzas oficiales de la Comunidad de Madrid (68 euros por crédito). El precio por el crédito en el Título Propio de Experto en el Mundo Actual es de 29 euros.

          %table.normal-table
            %thead
              %tr
                %th Asignaturas
                %th Precio
            %tbody 
              %tr 
                %td 4 asignaturas (curso completo)
                %td 580 €
              %tr 
                %td 3 asignaturas
                %td 435 €
              %tr 
                %td 2 asignaturas
                %td 290 €
          %section 
            %h2.big-heading Becas
            %p El Título de Experto en Mundo Actual, como Título Propio de la UAM, ofertará siemrpe un número de becas proporcional al número de alumnos matriculados cada curso. Además, podrá contar con becas dadas por el Consejo Social de la UAM y el AEPUMA, cuyo número total se detallará en el período de matriculación. Los estudiantes becados tendrán que elegir el pago de tasas fraccionado, quedando exentos de pagar el segundo plazo de la matrícula. Para optar a estas becas, tienen preferencia los alumnos matriculados en el curso completo.
    %footer
      .wrapper
        .logo-uam.inline-content>
          %a{href:"https://www.uam.es"}  
            %img{src:"images/logo-uam.png", :alt => "uam"}/ 
        %ul.complementary-info.inline-content>
          %li.one-whole
            %h4 Título Propio Experto en el Mundo Actual: Claves y Desafios
          %li
            %i.fa.fa-map-marker.inline-content 
            %p.inline-content Centro de Estudios de Postgrado, planta 2 aula 1
          %li
            %i.fa.fa-envelope
            %a{href:"mailto:mundoactual@uam.es"} mundoactual@uam.es
          %li.inline-content
            %i.fa.fa-phone.inline-content
            %p.inline-content 91 4976526