-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/bootstrap.css", rel: 'stylesheet'}

  %body
    .container-fluid
      %header 
        .row
          %nav.navbar.navbar-default
            .container-fluid
              .navbar-header
              %ul.nav.navbar-nav
                %li.active
                  %a{href:"default.html"} Presentación
                %li
                  %a{href:"inscripción.html"} Inscripción y matrícula
                %li
                  %a{href:"inscripción.html"} Becas y tasas
                %li
                  %a{href:"inscripción.html"} Asignaturas
                %li
                  %a{href:"inscripción.html"} Horarios
                %li
                  %a{href:"inscripción.html"} Contacto
                %li
                  %a{href:"inscripción.html"} FAQ







                
