-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/font-awesome.min.css", rel: 'stylesheet'}

  %body
    %header
      .wrapper
        .drop-bar 
          %a{href:"#"} 
            %i.fa.fa-align-justify 
            Menu
        .logo.inline-content> 
          %a{href:"default.html"} 
            %img{src:"images/logo.png", alt:"logo"}/ 
        %nav.main-nav.inline-content>
          %ul
            %li.inline-content
              %a{href:"default.html"} Presentación
            %li.inline-content
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li.inline-content
              %a{href:"becas.html"} Becas y tasas
            %li.inline-content
              %a{href:"asignaturas.html"} Asignaturas
            %li.inline-content
              %a{href:"horarios.html"} Horarios
            %li.active.inline-content
              %a{href:"faq.html"} FAQ
            %li.inline-content
              %a{href:"contacto.html"} Contacto
        #dropdown-menu
          %ul 
            %li 
              %a{href:"default.html"} Presentación
            %li 
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li 
              %a{href:"becas.html"} Becas y tasas
            %li 
              %a{href:"asignaturas.html"} Asignaturas
            %li 
              %a{href:"horarios.html"} Horarios
            %li 
              %a{href:"faq.html"} FAQ
            %li 
              %a{href:"contacto.html"} Contacto

    .main-content
    .main-content
      .wrapper
        %h2.big-heading Preguntas frecuentes
        .text-box
          %article 
            %p
              %i.fa.fa-question-circle 
              ¿Puedo matricularme solo de optativas?
            %p 
              %i.fa.fa-comment-o
              No, es necesario matricularse, al menos, en una obligatoria.
            %article 
              %p
                %i.fa.fa-question-circle 
                ¿Puedo matricularme solo de optativas?
              %p 
                %i.fa.fa-comment-o
                No, es necesario matricularse, al menos, en una obligatoria.
            %article 
              %p
                %i.fa.fa-question-circle 
                ¿Puedo matricularme solo de optativas?
              %p 
                %i.fa.fa-comment-o
                No, es necesario matricularse, al menos, en una obligatoria.

    %footer
      .wrapper
        .logo-uam.inline-content>
          %a{href:"https://www.uam.es"}  
            %img{src:"images/logo-uam2.gif", :alt => "uam"}/ 
        %ul.complementary-info.inline-content>
          %li.one-whole
            %h4 Título Propio Experto en el Mundo Actual: Claves y Desafios
          %li
            %i.fa.fa-map-marker.inline-content 
            %p.inline-content Centro de Estudios de Postgrado, planta 2 aula 1
          %li
            %i.fa.fa-envelope
            %a{href:"mailto:mundoactual@uam.es"} mundoactual@uam.es
          %li.inline-content
            %i.fa.fa-phone.inline-content
            %p.inline-content 91 4976526

    //Scripts
    %script{src:"js/jquery-1.10.2.min.js"}  
    %script{src:"js/scripts.js"} 
