-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Mundo Actual

    /[if lt IE 9]
      %script{src:"js/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}
    %link{href: "stylesheets/font-awesome.min.css", rel: 'stylesheet'}


  %body
    %header
      .wrapper
        .logo.inline-content> 
          %a{href:"default.html"} 
            %img{src:"images/logo.png", alt:"logo"}/ 
        %nav.main-nav.inline-content>
          %ul
            %li.inline-content
              %a{href:"default.html"} Presentación
            %li.active.inline-content
              %a{href:"inscripcion.html"} Inscripción y matrícula
            %li.inline-content
              %a{href:"becas.html"} Becas y tasas
            %li.inline-content
              %a{href:"asignaturas.html"} Asignaturas
            %li.inline-content
              %a{href:"horarios.html"} Horarios
            %li.inline-content
              %a{href:"faq.html"} FAQ
            %li.inline-content
              %a{href:"contacto.html"} Contacto
    .main-content
      .wrapper 
        %section
          %h2.big-heading Opciones de matriculación

          .text-box
            %h3 
              %i.fa.fa-hand-o-right
              Total
            %p.pl Supone la matriculación en el curso completo. Dos obligatorias y dos optativas.

            %h3 
              %i.fa.fa-hand-o-right
              Parcial
            %p.pl  Matriculación de un mínimo del 50% de las asignaturas de un curso completo, es decir, de dos asignaturas. Una de ellas tendrá que ser una obligatoria del curso en el que se matricula el alumno, y el resto a elegir entre todas las optativas ofrecidas en los tres cursos. En caso de un exceso de solicitud de matrícula en una optativa, se dará prioridad a los alumnos del curso en el que se ofrezca.

        %section 
          %h2.big-heading Fechas de preinscripción y matrícula
          
          .text-box 
            %h3 
              %i.fa.fa-pencil-square
              Preinscripción
            %p.pl Del 3 al 27 de junio de 2014 y del 9 al 24 de septiembre de 2014

            %h3 
              %i.fa.fa-pencil-square
              Matrícula
            %p.pl Del 7 al 17 de octubre de 2014

            %article 
              %a{href:"https://secretaria-virtual.uam.es/cosmos/Controlador/?apl=Uninavs&gu=a&idNav=inicio&NuevaSesionUsuario=true&NombreUsuarioAlumno=ALUMEP&idiomas=es.ES"} 
                %i.fa.fa-download
                Haz la automatrícula desde aquí

            %article 
              %a{href:"docs/automatricula.pdf"} 
                %i.fa.fa-download
                Instrucciones para hacer la automatrícula online

        %section 
          %h2.big-heading Requisitos de acceso y admisión

          .text-box

            %p Ser mayor de 50 años. Demostrar interés y capacidad para un adecuado aprovechamiento del Programa. Los estudiantes extranjeros que procedan de países de habla no hispana deberán tener un conocimiento suficiente de español.

            %p Se valorará especialmente haber cursado el Programa Universitario para Mayores de la Universidad Autónoma de Madrid. En el caso de que el número de estudiantes que cumplan los requisitos supere el número de plazas ofertadas se procederá a la realización de una prueba selectiva.


    %footer
      .wrapper
        .logo-uam.inline-content>
          %a{href:"https://www.uam.es"}  
            %img{src:"images/logo-uam2.png", :alt => "uam"}/ 
        %ul.complementary-info.inline-content>
          %li.one-whole
            %h4 Título Propio Experto en el Mundo Actual: Claves y Desafios
          %li
            %i.fa.fa-map-marker.inline-content 
            %p.inline-content Centro de Estudios de Postgrado, planta 2 aula 1
          %li
            %i.fa.fa-envelope
            %a{href:"mailto:mundoactual@uam.es"} mundoactual@uam.es
          %li.inline-content
            %i.fa.fa-phone.inline-content
            %p.inline-content 91 4976526