//header 

.logo {
  float: left;
  width: 19%;
  vertical-align: top;
}

.main-nav ul {
  float: right;
  width: 80%;
  position: relative;
  top: -2em;
  right: 0;
}

.main-nav li {
  float:left;
}

.main-nav li a {
  padding-right: 1em;
  padding-left: 1em;
}

//footer

.logo-uam {
  margin: 0 auto;
}

.complementary-info {
  position: relative;
  top: 2em;
  right: 1em;
  margin: 0 auto;
}

.complementary-info li, .complementary-info a {
  display: inline-block;
  font-size: 18px;
}

.faq h3 {
  position: relative;
  right: 1em;
  top: 0;
}

.faq p {
  position: relative;
  top: 0;
  right: 2.5em;
}

.text-box .desc {
  position: relative;
  top: 0;
  left: .5em;

}

.text-box .btn {
  width: 200px;
  text-align: center;
}

//buttons

.btn-one, .btn-download {
  width: 50%;
  margin: 0 auto;
}

.btn-group .btn {
  box-sizing: border-box;
  width: 47%;
  float: left;
}

//text left-alignment

.faq h3, .faq li {
  position: relative;
  right: 2em;
  top: 0;
}

.text-box {
  padding: 1em;
}

a.normal-link {
  position: relative;
  left: -.2em;
  top: 0;
  padding: 1em 0.5em;
}

.small-note {
  position: relative;
  top: -2.5em;
  right: 0;
}