//header 
.logo {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}

.main-nav ul {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  position: relative;
  top: -2em;
  right: 0;
}

.main-nav li {
  float:left;
}

.main-nav li a {
  padding-right: 1em;
  padding-left: 1em;
}

//footer

.logo-uam  img {
  display: inline-block;
  float: left;
}

.complementary-info {
  float: right;
  position: relative;
  top: -5em;
  right: 0;
}

.complementary-info li, .complementary-info a{
  float: left;
  font-size: 1.25em;
  padding: 0 1em;
}

.complementary-info ul {
  position: relative;
  left: 10em;
  top: 0;
}


//text left-alignment

.text-box .desc {
  position: relative;
  top: 0;
  left: .5em;

}

.text-box .btn {
  width: 200px;
  text-align: center;
}

.faq h3 {
  position: relative;
  right: 1.5em;
  top: 0;
}

.faq p {
  position: relative;
  top: 0;
  right: 2em;
}

.text-box {
  padding: 1em;
}

a.normal-link {
  position: relative;
  left: -.2em;
  top: 0;
  padding: 1em 0.5em;
}

.small-note {
  position: relative;
  top: -2.5em;
  right: 0;
}

.flex-direction-nav a {
  visibility: hidden;
}

//buttons

.btn-one, .btn-download {
  width: 50%;
  margin: 0 auto;
}

.btn-group .btn {
  box-sizing: border-box;
  width: 47%;
  float: left;
}