/*------------------------------------------*\
    text box
\*------------------------------------------*/

.text-box {
  border: 1px solid lighten($text, 50%);
  @include border-radius(5px);
  padding: 1.25rem;

  @include box-shadow (1px 2px 2px lighten($text, 50%));

 

  p {
    padding: 0 0 1.25rem 1.7rem;
  }

  h3 {
    padding-bottom: 1rem;
    font-weight: 200;
  }

  i {
    color: $secondaryBg;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: .7rem .5rem;

  &:hover {
    background-color: lighten($text, 50%);
    @include border-radius (5px);
  }
  i {
    color: $text;
  }
  }
  
}