/*------------------------------------------*\
    text box
\*------------------------------------------*/

.text-box {
  @include box-shadow (1px 1 1px $text);

  h3, p {
    padding: 1rem 0;
  }

  i {
    color: $secondaryBg;
  }

  a {
    display: inline-block;
  }
  
}