/*------------------------------------------*\
    Buttons
\*------------------------------------------*/

.btn {
  padding: .8em;
  background-color: $secondaryBg;
  color: #fff;
  border: none;
  border-bottom: 2px solid darken($secondaryBg,10%);
  outline: none;
  display: inline-block;
  margin-bottom: .4em;
  @include media-query(palm) {
    width: 80%;
  }

  &:hover {
    opacity: .8;
  }
  
  @include border-radius(3px);

  a, i {
    color: #fff;
  }
}

.btn-group {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  @include media-query(palm) {
    .btn {
      display: block;
      width: 80%;
      margin: 10px auto;
    }
  }
}

.btn-download {
  margin: 30px 0px 20px 0px;
}
