/*------------------------------------------*\
    FAQS (QUESTION AND ANSWER)
\*------------------------------------------*/
.text-box {

  .faq {
    h3 {
      padding-bottom: .5em;
      color: darken($text, 30%);
      padding-left: 2em;

      &.sm {
        font-size: 1.1em;
      }
    }

    .heading {
      position: relative;
    }

    span.fa {
      font-size: 1.5em;
      padding-left:.3em;
      position: absolute;
      top: .2em;
      left:0;
    }

    span.more-info {
      position: relative;
      top: 1.1em;
      left:.2em;
    }

    p {
      padding-left: 2.7em;
      color: lighten($text, 20%);
      @include font-size(14); 

      a {
        color: lighten($text, 20%);
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}