/*------------------------------------------*\
    FOOTER
\*------------------------------------------*/

.main-footer {
  overflow: hidden;
  background: $baseBg;
  color: $text;
  margin-top: 2em;
  padding: 2em 0;

  img {
    min-width: 100%;
  } 

   @include box-shadow(1px 0 1px $text);

  a {
    color: $text;

  &:hover {
    text-decoration: underline;
  }
}

  .logo-uam {
    width: 20%;
    vertical-align: middle;
  }

  .complementary-info {
    width: 80%;
    padding: 1.25em;
    vertical-align: middle;
    text-align: center;

    span {
      color: $secondaryBg;
      padding-right: .2em;
      font-size: 1.25em;
      display: inline-block;
    }

    ul {
      margin: 1em 0;
    }

    li {
      display:inline-block;
      padding: .7em;
      vertical-align: bottom;
    }

    p {
      display:inline-block;
    }

    p, a {
      font-size: .8em;
    }
  }
}

@include media-query(palm) {
  footer
    .logo-uam {
      display:block;
      margin: 0 auto;
    }

    ul.complementary-info {
      display:block;
      width: 100%;
      padding: .7em;
    }
}