/*------------------------------------------*\
    FOOTER
\*------------------------------------------*/

footer {
  overflow: hidden;
  background: $baseBg;
  color: $text;
  margin-top: 2rem;
  padding: 2rem 0;

  img {
    min-width: 100%;
  } 

   @include box-shadow(1px 0 1px $text);

  a {
    color: $text;

  &:hover {
    text-decoration: underline;
  }
}

  .logo-uam {
    width: 20%;
    vertical-align: middle;
  }

  .complementary-info {
    width: 80%;
    padding: 1.25rem;
    vertical-align: middle;
    text-align: center;

    i {
      color: $secondaryBg;
      padding-right: .2rem;
      font-size: 1.25rem;
      display: inline-block;
    }

    ul {
      margin: 1rem 0;
    }

    li {
      display:inline-block;
      padding: .7rem;
      vertical-align: bottom;
    }

    p {
      display:inline-block;
    }

    p, a {
      font-size: .8rem;
    }
  }
}

@include media-query(palm) {
  footer
    .logo-uam {
      display:block;
      margin: 0 auto;
    }

    ul.complementary-info {
      display:block;
      width: 100%;
      padding: .7rem;
    }
}