/*------------------------------------------*\
    HEADER
\*------------------------------------------*/

header {
  background: $secondaryBg;
  //min-height: 3rem;

  @include box-shadow(1px 0 1px $text);

    img {
    max-width: 100%;
  }

  a {
    color: #fff;
    padding: .75rem;
  }
}

  .main-nav {
    text-align: right;
    width: 94%;
    vertical-align: middle;
    padding-left: 2rem;

    a {
      display:block;
      font-size: .9rem;
      font-weight: 700;

    &:hover {
      background: darken($secondaryBg, 10%);
      @include border-radius (5px);
      }
    }

    .logo {
      width: 7%;
    }
  }

.active a {
  color: darken($secondaryBg, 20%);
}

.drop-bar {
  position: relative;
  a {
    display:none;
    position: absolute;
    top: .5rem;
    right:0;

    font-size: 1.15rem;
  }
}

@media screen and (max-width: 700px) {

  .main-nav {
    display:none;
  }

  .drop-bar {
    a {
      display: block;
    }
  }
}

.active {
  color: darken($secondaryBg, 20%);
}