/* line 2, ../sass/ie7.scss */
.logo {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}

/* line 8, ../sass/ie7.scss */
.main-nav ul {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  position: relative;
  top: -2em;
  right: 0;
}

/* line 17, ../sass/ie7.scss */
.main-nav li {
  float: left;
}

/* line 21, ../sass/ie7.scss */
.main-nav li a {
  padding-right: 1em;
  padding-left: 1em;
}

/* line 28, ../sass/ie7.scss */
.logo-uam img {
  display: inline-block;
  float: left;
}

/* line 33, ../sass/ie7.scss */
.complementary-info {
  float: right;
  position: relative;
  top: -5em;
  right: 0;
}

/* line 40, ../sass/ie7.scss */
.complementary-info li, .complementary-info a {
  float: left;
  font-size: 1.25em;
  padding: 0 1em;
}

/* line 46, ../sass/ie7.scss */
.complementary-info ul {
  position: relative;
  left: 10em;
  top: 0;
}

/* line 55, ../sass/ie7.scss */
.faq h3, .faq p {
  position: relative;
  right: 2em;
  top: 0;
}

/* line 61, ../sass/ie7.scss */
.text-box {
  padding: 1em;
}

/* line 65, ../sass/ie7.scss */
a.normal-link {
  position: relative;
  left: -.2em;
  top: 0;
  padding: 1em 0.5em;
}

/* line 72, ../sass/ie7.scss */
.small-note {
  position: relative;
  top: -2.5em;
  right: 0;
}

/* line 78, ../sass/ie7.scss */
.flex-direction-nav a {
  visibility: hidden;
}

/* line 84, ../sass/ie7.scss */
.btn-one, .btn-download {
  width: 50%;
  margin: 0 auto;
}

/* line 89, ../sass/ie7.scss */
.btn-group .btn {
  box-sizing: border-box;
  width: 47%;
  float: left;
}
