/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "flexslider-icon";
  src: url("../fonts/flexslider-icon.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/flexslider-icon.otf?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  /* Legacy iOS */
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }
/* Global */
html {
  font-size: 87.5%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

body {
  background: #F5F6F7;
  color: #65666B;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section, article {
  margin: 2.5em 0; }

/* Block Content */
h1, h2, h2, h3, h4, h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  line-height: 1.3; }

.normal-text {
  color: #65666B; }

/* Inline Content */
a {
  color: #00A55b;
  text-decoration: none; }
  a:active {
    outline: none; }
  a:focus {
    -moz-outline-syle: none; }

p a {
  color: #F5F6F7; }

.centered {
  text-align: center; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin: 0 auto; }

.no-float {
  float: none; }

.inline-content {
  display: table-cell; }

.inline-block {
  display: inline-block; }

.t-thin {
  font-weight: 100; }

.t-bold {
  font-weight: 700; }

.t-code {
  font-family: "Cousine";
  opacity: 0.6; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button,
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

button[disabled],
input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

input[type="checkbox"],
input[type="radio"] {
  width: auto; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
.basic-form {
  background: #FCFCFD;
  padding: 0 0.625em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .basic-form input {
    border: none;
    background-color: #FCFCFD;
    outline: none; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 61.42857em) {
  .one-whole {
    width: 100%; }

  .one-half, .two-quarters {
    width: 50%; }

  .one-third {
    width: 33.333%; }

  .two-thirds {
    width: 66.666%; }

  .one-quarter {
    width: 25%; }

  .three-quarters {
    width: 75%; }

  .two-fifths {
    width: 40%; }

  .three-fifths {
    width: 60%; } }
/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1, .alpha {
  font-size: 28px;
  font-size: 2rem; }

h2, .beta {
  font-size: 24px;
  font-size: 1.71429rem; }

h3, .gamma {
  font-size: 20px;
  font-size: 1.42857rem; }

h4, .delta {
  font-size: 18px;
  font-size: 1.28571rem; }

.hero-heading {
  font-size: 2.5em;
  font-weight: 200;
  margin: 30px 0px 30px 0px; }

.big-heading {
  font-size: 2em;
  font-weight: 200;
  margin: 30px 0px 30px 0px; }

.normal-heading {
  font-size: 1.875em;
  font-weight: 700; }

.small-heading {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em; }

@media only screen and (max-width: 61.35714em) {
  .big-heading {
    font-size: 1.6em; } }
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: .7em 0;
  height: auto;
  min-height: 100%;
  max-width: 1100px; }

.main-content {
  clear: both; }

section, article {
  margin: 1.25em 0; }

.nmt {
  margin-top: 0; }

.nmb {
  margin-bottom: 0; }

.mt {
  margin-top: 1.25em; }

.mb {
  margin-bottom: 1.25em; }

.ml {
  margin-left: 1.5em; }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  letter-spacing: -0.35em; }
  .g > * {
    letter-spacing: normal; }

/* Grid Item */
.gi {
  letter-spacing: normal; }
  @media only screen and (min-width: 61.42857em) {
    .gi {
      display: inline-block;
      vertical-align: top; } }

.mr {
  margin-right: 1%; }

.ml {
  margin-left: 1%; }

.half-width {
  width: 49%; }

.forty-width {
  width: 39%; }

.forty-width {
  width: 39%; }

.sixty-width {
  width: 59%; }

.sixty-width {
  width: 59%; }

.onethird-width {
  width: 32.33%; }

.eighty-width {
  width: 79%; }

/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

h1, h2, h2, h3, h4, h6 {
  margin: 0; }

p {
  margin: 0; }

::selection {
  background: #F5F6F7;
  color: #FFF; }

::-moz-selection {
  background: #F5F6F7;
  color: #FFF; }

ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

figure {
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------------*\
    Buttons
\*------------------------------------------*/
.btn {
  padding: .8em;
  background-color: #00A55b;
  color: #fff;
  border: none;
  border-bottom: 2px solid #00723f;
  outline: none;
  display: inline-block;
  margin-bottom: .4em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media only screen and (max-width: 61.35714em) {
    .btn {
      width: 80%; } }
  .btn:hover {
    opacity: .8; }
  .btn a, .btn i {
    color: #fff; }

.btn-group {
  width: 100%;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (max-width: 61.35714em) {
    .btn-group .btn {
      display: block;
      width: 80%;
      margin: 10px auto; } }

.btn-download {
  margin: 30px 0px 20px 0px; }

/*------------------------------------------*\
    Dropdown menu
\*------------------------------------------*/
#dropdown-menu {
  display: none; }
  #dropdown-menu ul {
    text-align: left; }
  #dropdown-menu li {
    padding: .6rem 0;
    border-bottom: 1px solid #009653; }
    #dropdown-menu li:last-child {
      border: none; }
  #dropdown-menu a {
    width: 100%;
    padding: .6rem;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400; }
    #dropdown-menu a:hover {
      background-color: #00af61; }

/*------------------------------------------*\
    FAQS (QUESTION AND ANSWER)
\*------------------------------------------*/
.text-box .faq h3, .normal-table .faq h3 {
  padding-bottom: .5em;
  color: #1b1b1c;
  padding-left: 2em; }
  .text-box .faq h3.sm, .normal-table .faq h3.sm {
    font-size: 1.1em; }
.text-box .faq .heading, .normal-table .faq .heading {
  position: relative; }
.text-box .faq span.fa, .normal-table .faq span.fa {
  font-size: 1.5em;
  padding-left: .3em;
  position: absolute;
  top: .2em;
  left: 0; }
.text-box .faq span.more-info, .normal-table .faq span.more-info {
  position: relative;
  top: 1.1em;
  left: .2em; }
.text-box .faq p, .normal-table .faq p {
  padding-left: 2.7em;
  color: #98999e;
  font-size: 14px;
  font-size: 1rem; }
  .text-box .faq p a, .normal-table .faq p a {
    color: #98999e; }
    .text-box .faq p a:hover, .normal-table .faq p a:hover {
      text-decoration: underline; }

/*------------------------------------------*\
    FOOTER
\*------------------------------------------*/
.main-footer {
  overflow: hidden;
  background: #fff;
  color: #65666B;
  margin-top: 2em;
  padding: 2em 0;
  -webkit-box-shadow: 1px 0 1px #65666B;
  -moz-box-shadow: 1px 0 1px #65666B;
  box-shadow: 1px 0 1px #65666B; }
  .main-footer a {
    color: #65666B; }
    .main-footer a:hover {
      text-decoration: underline; }
  .main-footer .logo-uam {
    width: 20%;
    vertical-align: middle;
    display: inline-block; }
    .main-footer .logo-uam img {
      width: 160px;
      height: auto; }
  .main-footer .complementary-info {
    width: 79%;
    padding: 1.25em;
    vertical-align: middle;
    text-align: right;
    display: inline-block; }
    .main-footer .complementary-info h5 {
      font-size: 18px; }
    .main-footer .complementary-info span {
      color: #00A55b;
      padding-right: .2em;
      font-size: 1.25em;
      display: inline-block; }
    .main-footer .complementary-info ul {
      margin: 1em 0; }
    .main-footer .complementary-info li {
      display: inline-block;
      padding: .7em;
      vertical-align: bottom; }
    .main-footer .complementary-info p {
      display: inline-block; }
    .main-footer .complementary-info p, .main-footer .complementary-info a {
      font-size: .8em; }

@media only screen and (max-width: 61.35714em) {
  * {
    margin: 0; }

  html, body {
    height: 100%; }

  .main-content {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -300px;
    /* the bottom margin is the negative value of the footer's height */ }

  .main-footer, .push-footer {
    height: 270px;
    /* .push must be the same height as .footer */ }

  .main-footer {
    text-align: center; }
    .main-footer .logo-uam {
      width: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto; }
    .main-footer .complementary-info {
      display: block;
      width: 100%;
      padding: .7em;
      text-align: center; }
      .main-footer .complementary-info li {
        text-align: center; } }
@media only screen and (min-width: 61.42857em) {
  /* STICKY FOOTER */
  * {
    margin: 0; }

  html, body {
    height: 100%; }

  .main-content {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -200px;
    /* the bottom margin is the negative value of the footer's height */ }

  .main-footer, .push-footer {
    height: 172px;
    /* .push must be the same height as .footer */ } }
/*------------------------------------------*\
    HEADER
\*------------------------------------------*/
header {
  background-color: #00A55b;
  -webkit-box-shadow: 1px 0 1px #65666B;
  -moz-box-shadow: 1px 0 1px #65666B;
  box-shadow: 1px 0 1px #65666B; }
  header img {
    max-width: 100%; }
  header a {
    color: #fff;
    padding: .75em; }

.main-nav {
  text-align: right;
  width: 94%;
  vertical-align: middle;
  padding-left: 2em; }
  .main-nav a {
    display: block;
    font-size: .9em;
    font-weight: 700; }
    .main-nav a:hover {
      background: #00723f;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
  .main-nav .logo {
    width: 7%; }

.active a {
  color: #003f23; }

.drop-bar {
  position: relative; }
  .drop-bar a {
    display: none;
    position: absolute;
    top: .5em;
    right: 0;
    font-size: 1.15em; }

@media screen and (max-width: 860px) {
  .main-nav {
    display: none; }

  .drop-bar a {
    display: block; } }
.active {
  color: #003f23; }

/*------------------------------------------*\
    HERO
\*------------------------------------------*/
#hero-unit {
  width: 100%;
  overflow: hidden; }

/*------------------------------------------*\
    navigation
\*------------------------------------------*/
.main-nav li {
  display: inline-block; }

/*------------------------------------------*\
    TABLES
\*------------------------------------------*/
.normal-table {
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .normal-table tr, .normal-table td, .normal-table th {
    padding: 1em; }
  .normal-table thead {
    background: #00A55b;
    color: #fff; }

/*------------------------------------------*\
    text box
\*------------------------------------------*/
.text-box, .normal-table {
  border: 1px solid #e7e7e8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 1.8em;
  margin: .7rem 0;
  background: #fff;
  -webkit-box-shadow: 1px 2px 2px #e7e7e8;
  -moz-box-shadow: 1px 2px 2px #e7e7e8;
  box-shadow: 1px 2px 2px #e7e7e8; }
  .text-box p, .normal-table p {
    color: #98999e; }
  .text-box .pl, .normal-table .pl {
    padding: 0 0 1.25rem 1.7em; }
  .text-box .no-top, .normal-table .no-top {
    margin-top: 0; }
  .text-box .btn span.fa, .normal-table .btn span.fa {
    color: #fff; }
  .text-box p, .normal-table p, .text-box li, .normal-table li {
    padding-bottom: 1.35em;
    line-height: 1.5em; }
  .text-box h3, .normal-table h3 {
    padding-bottom: 1em;
    font-weight: 200; }
  .text-box span.fa, .normal-table span.fa {
    color: #00A55b;
    padding-right: .5em; }
  .text-box span.fa-asterisk, .normal-table span.fa-asterisk {
    color: #65666B; }
  .text-box a.normal-link, .normal-table a.normal-link {
    color: #00A55b;
    display: inline-block;
    width: 100%;
    padding: .7rem .5em; }
    .text-box a.normal-link:hover, .normal-table a.normal-link:hover {
      background-color: #e7e7e8;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
  .text-box article, .normal-table article {
    vertical-align: top; }
    .text-box article p, .normal-table article p {
      padding: 0 1rem 2.5rem 0; }

.small-i span {
  color: #65666B;
  font-size: .7em;
  position: relative;
  top: -.4em;
  right: 0; }

.small-note p {
  width: 90%;
  font-size: .8em;
  vertical-align: top; }
.small-note span {
  font-size: .8em;
  padding-right: .3em;
  vertical-align: top; }

@media only screen and (max-width: 61.35714em) {
  .text-box, .normal-table {
    padding: 1em; }
    .text-box .pl, .normal-table .pl {
      padding-left: 0; }
    .text-box .map, .normal-table .map {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 100%; } }
